<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Pack records</h2>
        <h3 class="oe_slogan">Export sale order attachments into a compressed file</h3>
        <div class="oe_span12" style="text-align:center;margin-left:18px;">
            <img src="comceptplus_pack_records.png">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <p>
            This is an easy way for you to export document attachments for one specific data model.
            </p>
            <p/>
            <p style="text-align:center;">
                <br/>
            <h4 style="color:red;">WARNING:</h4>
            Make sure you have the right permissions to create files on disk.
            </p>
        </div>
    </div>
</section>


<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <p>
            For instructions on how to use this module, please check "Pack records (attachments)" (comceptplus_pack_records)
        </div>
    </div>
</section>


<section class="oe_container">
    <div class="oe_row oe_spaced" style="background-color:#3ab098;color:#fff;">
        <div class="oe_span2">
            <img src="logo.jpg" height="80">
        </div>
        <div class="oe_span10">
            <h2 style="padding-top:12px;">
                For support / information, please write to odoo@comceptplus.com
            <h2/>
        </div>
    </div>
</section>

<section class="oe_container oe_separator">
</section>
